body {
    color: #8B7500;
    margin: 0 auto;
  }
  header {
    font-size: 200%;
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
    padding: 30px 0px 20px 0px;
  }
  :focus {
      outline: none;
  }
  :focus::placeholder {
      opacity: 0%;
  }
  ::placeholder {
      opacity: 60%;
      color: #8B7500;
      text-align: center;
  }
  input, textarea {
      margin: 6px 0px;
      height: 40px;
      background-color: #fff;
      border: 3px solid #8B7500;
      color: #000000;
      border-radius: 10px;
      font-size: 130%;
      caret-color: #8B7500;
  }
  .question_field textarea {
      width: 40%;
      height: 107px;
      resize: none;
      font-size: 175%;
  }
  .answer_field input {
      width: 30%;
      color: rgb(55, 92, 0);
  }
  .options input {
      width: 20%;
  }
  button {
      background-color: #8B7500;
      color: #fff;
      font-weight: bold;
      height: 45px;
      width: 20%;
      font-size: 105%;
      margin-top: 6px;
      border-radius: 10px;
      border: 1px solid #8B7500;
      transition: 0.4s linear;
  }
  button:hover {
      background-color: #fff;
      color: #8B7500;
      border: 1px solid #8B7500;
  }
  .controller input {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      font-size: 14px;
      color: #8B7500;
  }
  .navigator button {
      width: 50px;
      margin-top: 10px;
      margin-left: 10px;
      position: relative;
  }